/target
**/*.rs.bk
Cargo.lock

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.bak

# Logs and temp files
*.log
*.tmp

# By-products of cargo
**/*.d

# Misc
CACHEDIR.TAG

# OS-specific files
.DS_Store
Thumbs.db
